{
    "arrowParens": "always",
    "tabWidth": 4,
    "printWidth": 90,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "semi": true,
    "plugins": ["prettier-plugin-tailwindcss"]
}
