@tailwind base;
@tailwind components;
@tailwind utilities;

@import './nprogress.css';

@font-face {
  font-family: 'Source Code Pro';
  src: url(/fonts/source-code-pro.ttf) format('truetype');
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

@media (orientation: landscape) {
  ::-webkit-scrollbar {
    @apply w-2  bg-zinc-200 dark:bg-zinc-700;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-[3px] bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-[3px] border-2 border-zinc-300 bg-zinc-600 dark:bg-zinc-400;
  }
}
