@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'Source Code Pro';
  src: url(/fonts/source-code-pro.ttf) format('truetype');
}

* {
  -webkit-font-smoothing: antialiased;
  --webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  @apply md:h-[6px] md:w-[6px] md:bg-zinc-100 md:dark:bg-black;
}

::-webkit-scrollbar-track {
  @apply md:rounded-[3px] md:bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply md:rounded-[3px] md:border-2 md:border-zinc-300 md:bg-zinc-400 md:dark:bg-zinc-700;
}
