@tailwind base;
@tailwind components;
@tailwind utilities;

@import './nprogress.css';

@font-face {
  font-family: 'Source Code Pro';
  src: url(/fonts/source-code-pro.ttf) format('truetype');
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
