.menu-button svg {
  transform: translate(-50%, -50%) scale(2);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: opacity 300ms ease, transform 300ms ease;
}

.menu-button svg[data-hide='true'] {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}
