@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@import 'tw-animate-css';

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-6: 230 82% 83%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-6: 230 82% 83%;
  }

  * {
    -webkit-font-smoothing: antialiased;
    --webkit-overflow-scrolling: touch;
  }

  html {
    scroll-behavior: smooth;
  }

  p {
    max-width: 80ch;
  }
}

.shiki {
  @apply p-6 sm:rounded-lg overflow-auto;
}

@theme inline {
  --color-black: #222222;
  --animate-carousel-progress: carousel-progress 0.2s linear;

  @keyframes carousel-progress {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}
